<div class="content-fluid">
    <h1><i class="fa fa-clock-o"></i> Agenda de horários</h1>
    <p>
      Selecione quais intervalos de tempo estarão à disposição dos clientes!
      <p></p>
  <div class="container">
  <form [formGroup]="scheduleForm" (submit)="scheduleSelect(scheduleForm.value)">
    <div class="zoom" *ngFor="let agenda of agenda.controls; let i=index">
      <div *ngIf="schedule.agenda[i] !== undefined">
          <input type="checkbox" [formControl]="agenda"/>{{schedule.agenda[i].horario}}
      </div>
    </div>
    <button type="submit" class="btn-primary">Enviar</button>
  </form>
  
  </div>
</div>
  