/* main {
    width: auto;
    height: auto;
    max-height: 800px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0px;
    margin-top: 0px;
    padding-top: 20%;
    padding-bottom: 5%;
    padding-bottom: 32%;
    align-content: center;
    align-items: center;
    text-align: center;
    background-image: url('assets/images/dashboard.jpg');
    animation: fadein 2s;
    -moz-animation: fadein 2s; 
    -webkit-animation: fadein 2s; 
    -o-animation: fadein 2s; 
    background-attachment: fixed;
    background-repeat: no-repeat;

}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { 
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { 
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { 
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }

}



 .container-fluid {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

 .container-input {
    display: flex;
    margin-top: 10px;
    padding: 0px;
    max-width: 700px;
    
} 

.text-h1 {
    color: goldenrod;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.container-input {
    width: 80%;
}

.container-input input[type="text"] {
    width: 80%;
    border: 1px solid rgb(79, 31, 31);
    border-radius: 10px 0 0 10px;
    padding: 15px;
}

.btn {
    width: 20%;
    border: 1px solid rgb(79, 31, 31);
    border-radius: 0 10px 10px 0;
    background-color: rgb(79, 31, 31);
    color: white;
    padding: 15px;
}

.zoom {
    transition: transform .2s;
}

.zoom:hover {
    transform: scale(2);
} */

agm-map {
    height: 300px;
  }

