main {
    width: auto;
    height: auto;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding-top: 32%;
    padding-bottom: 32%;
    align-content: center;
    background-image: url('assets/images/dashboard.jpg');
   
}


 .container-fluid {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

 .container-input {
    display: flex;
    margin-top: 10px;
    padding: 0px;
    max-width: 700px;
    
} 

.text-h1 {
    color: goldenrod;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.container-input {
    width: 80%;
}

.container-input input[type="text"] {
    width: 80%;
    border: 1px solid rgb(79, 31, 31);
    border-radius: 10px 0 0 10px;
    padding: 15px;
}

.btn {
    width: 20%;
    border: 1px solid rgb(79, 31, 31);
    border-radius: 0 10px 10px 0;
    background-color: rgb(79, 31, 31);
    color: white;
    padding: 15px;
}
