<div class="content-fluid">
  <h1>Perfil de Usuario</h1>
  <p>
    Mantenha sempre atualizados seus dados de usuario! 
    <p></p>
    
  
  <div class="container" *ngIf = "authGuard.normalUser">
      <form [formGroup]="userForm" (ngSubmit)="setUser()">
          <div class="register-form">
            <div class="form-group">
              <label for="email" id="email">E-mail </label>
              <input type="email" formControlName="email" class="form-control" value="{{userService.email}}">
            </div>
            <div class="form-group">
              <label for="name" id="name">Nome Completo </label>
              <input type="name" formControlName="name" class="form-control" value="{{userService.name}}">
            </div>
            <div class="form-group">
              <label for="telefone">Telefone para contato </label>
              <input type="phone" formControlName="phone" class="form-control" value="{{userService.phone}}">
            </div>
            <div class="form-group">
              <label for="address">Endereco</label>
              <input type="address" formControlName="address" class="form-control" value="{{userService.address}}" >
            </div>
          </div>
          <div class="options">
          <button class="btn btn-secondary" [routerLink]="['/dashboard']">Voltar</button>
          <button type="submit" class="btn btn-primary" onclick="salvar()">Salvar</button>
        </div>
        </form>    
  </div>

  <div class="container" *ngIf = "authGuard.enterpriseUser">
      <form [formGroup]="enterpriseForm" (ngSubmit)="setUser()">
          <div class="register-form">
            <div class="form-group">
              <label for="email" id="email">E-mail </label>
              <input type="email" formControlName="email" class="form-control" value="{{userService.email}}">
            </div>
            <div class="form-group">
              <label for="cnpj" id="cnpj">CNPJ </label>
              <input type="cnpj" formControlName="cnpj" class="form-control" value="{{userService.cnpj}}">
            </div>

            <div class="form-group">
              <label for="name" id="name">Nome Completo </label>
              <input type="name" formControlName="name" class="form-control" value="{{userService.name}}">
            </div>
            <div class="form-group">
              <label for="telefone">Telefone para contato </label>
              <input type="phone" formControlName="phone" class="form-control" value="{{userService.phone}}">
            </div>
            <div class="form-group">
              <label for="address">Endereco</label>
              <input type="address" formControlName="address" class="form-control" value="{{userService.address}}" >
            </div>
          </div>
          <button class="btn btn-secondary" [routerLink]="['/dashboard']">Voltar</button>
          <button type="submit" class="btn btn-primary" onclick="salvar()">Salvar</button>
        </form>    
  </div>

</div>

