.navbar {
    background-color: rgb(71, 31, 31);
}

.navbar a {
    color: white;
    margin-right: 20px;
}

.navbar a:hover {
    color: goldenrod;
}

.btn-outline {
    background-color: whitesmoke;
}

.btn-outline:hover {
    background-color: gold;
}
