<div class="content-fluid">
  <h1>Área de cadastro</h1>
  <p>
    Defina seu tipo de usuário e em seguida forneça todas as informações nos campos abaixo.
    <p></p>

    <div class="options">
      <input class="choice" type="image" src="assets/images/user.png" *ngIf="noUser" (click)="regularChoice()" />
      <input class="choice" type="image" src="assets/images/busi.png" *ngIf="noUser" (click)="enterpriseChoice()" />
    </div>
    <div class="container" *ngIf="regularUser">
      <form [formGroup]="userForm" (ngSubmit)="registerUser()">
        <div class="register-form">

          <div class="form-group">
            <label for="email" id="email">E-mail *</label>
            <input type="text" formControlName="email" class="form-control" required placeholder="ex: ifood@gmail.com">
            <small id="emailHelp" class="form-text text-muted">Seu email ficará apenas conosco.</small>
          </div>
          <div class="form-group">
            <label for="password" id="password">Senha *</label>
            <input type="password" formControlName="password" class="form-control" required placeholder="ex: Jose">
          </div>
          <div class="form-group">
              <label for="password" id="password">Repita a Senha</label>
              <input type="password" formControlName="passwordRepeat" class="form-control" required>
          </div>

          <div class="form-group">
            <label for="name" id="name">Nome Completo *</label>
            <input type="text" formControlName="name" class="form-control" required placeholder="ex: Jose">
          </div>
          <div class="form-group">
            <label for="telefone">Telefone para contato *</label>
            <input type="number" formControlName="phone" required class="form-control" placeholder="ex: 21995550011">
          </div>
        </div>
        <div class="options">
          <button class="btn btn-secondary" [routerLink]="['/dashboard']">Voltar</button>
          <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
      </form>
    </div>

    <div class="container" *ngIf="enterpriseUser">
      <form [formGroup]="enterpriseForm" (ngSubmit)="registerEnterprise()">
        <div class="register-form">
          <div class="form-group">
            <label for="email" id="email">E-mail *</label>
            <input type="email" formControlName="email" class="form-control" required placeholder="ex: ifood@gmail.com">
          </div>
          <div class="form-group">
            <label for="password" id="password">Senha *</label>
            <input type="password" formControlName="password" class="form-control" required>
          </div>
          <div class="form-group">
              <label for="password" id="password">Repita a Senha</label>
              <input type="password" formControlName="passwordRepeat" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="name" id="name">cnpj *</label>
            <input type="name" formControlName="cnpj" class="form-control" required placeholder="ex: 123456789">
          </div>

          <div class="form-group">
            <label for="name" id="name">Nome fantasia *</label>
            <input type="name" formControlName="name" class="form-control" required placeholder="ex: McDonald">
          </div>
          <div class="form-group">
            <label for="name" id="name">Nome *</label>
            <input type="name" formControlName="nameReal" class="form-control" required placeholder="ex: ">
          </div>
          <div class="form-group">
            <label for="name" id="name">Número *</label>
            <input type="name" formControlName="number" class="form-control" required placeholder="ex: ">
          </div>
          <div class="form-group">
            <label for="name" id="name">Rua *</label>
            <input type="name" formControlName="street" class="form-control" required placeholder="ex: ">
          </div>
          <div class="form-group">
            <label for="name" id="name">CEP *</label>
            <input type="name" formControlName="cep" class="form-control" required placeholder="ex: ">
          </div>

          <div class="form-group">
            <label for="telefone">Telefone para contato *</label>
            <input type="phone" formControlName="phone" required class="form-control" placeholder="ex: 21995550011">
          </div>
        </div>
        <div class="options">
          <button class="btn btn-secondary" [routerLink]="['/dashboard']">Voltar</button>
          <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
      </form>
    </div>
</div>
