.page-footer {
    background-color: rgb(71, 31, 31);

}

.coluna a {
    color: white;

}

.coluna a:hover {
    color: rgb(158, 135, 2);
    text-decoration: none;
}

.mb-5 {
    margin: auto;
    width: 50%;
    padding: 10px;

}

.container {
    margin-top: 0px;

}

.footer-copyright {
    background-color: rgba(0, 0, 0, 0.233);
}

.footer-copyright a {
    color: gold;
}

.icones {
    text-align: center;
    margin-top: 15px;
}