.page-footer {
    background-color: rgb(71, 31, 31);
   margin-bottom: 0px;
   padding-bottom: 0px;
   animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }


}

.coluna a {
    color: white;
    padding-bottom: 0px;
}

.coluna a:hover {
    color: rgb(158, 135, 2);
    text-decoration: none;
    padding-bottom: 0px;
}


.footer-copyright {
    background-color: rgba(0, 0, 0, 0.233);
    margin-bottom: 0px;
    padding-bottom: 0px;
}


.footer-copyright a {
    color: gold;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.icones {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
