
<!--Footer-->
<footer class="page-footer font-small indigo pt-4 text-white">

    <!--Footer Links-->
    <div class="container">

        <!--Grid row-->
        <div class="row pt-5 mb-3 text-center d-flex justify-content-center">

            <!--Grid column-->
            <div class="coluna col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="#!">Sobre Nós</a>
                </h6>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="coluna col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="#!">Serviços</a>
                </h6>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="coluna col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="#!">Galeria</a>
                </h6>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="coluna col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="#!">Ajuda</a>
                </h6>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="coluna col-md-2 mb-3">
                <h6 class="text-uppercase font-weight-bold">
                    <a href="#!">Contato</a>
                </h6>
            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

        <hr class="rgba-white-light" style="margin: 0 15%;">

        <!--Grid row-->
        <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">

            <!--Grid column-->
            <div class="col-md-8 col-12 mt-5">
                <p style="line-height: 1.7rem">Icut é uma plataforma 
                    desenvolvida para que barbearias possam oferecer 
                    serviços, produtos e muito mais. Como cliente você 
                    pode agendar serviços, fazer compras, além de 
                    acompanhar sua fila de espera.</p>

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

        <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">

        <!--Grid row-->
        <div class="row pb-3">

            <!--Grid column-->
            <div class="col-md-12">

                <div class="icones">
                    <!--Facebook-->
                    <a class="fb-ic">
                        <i class="fa fa-facebook fa-lg white-text mr-md-4"> </i>
                    </a>
                    <!--Twitter-->
                    <a class="tw-ic">
                        <i class="fa fa-twitter fa-lg white-text mr-md-4"> </i>
                    </a>
                    <!--Google +-->
                    <a class="gplus-ic">
                        <i class="fa fa-google-plus fa-lg white-text mr-md-4"> </i>
                    </a>
                    <!--Linkedin-->
                    <a class="li-ic">
                        <i class="fa fa-linkedin fa-lg white-text mr-md-4"> </i>
                    </a>
                    <!--Instagram-->
                    <a class="ins-ic">
                        <i class="fa fa-instagram fa-lg white-text mr-md-4"> </i>
                    </a>
                    <!--Pinterest-->
                    <a class="pin-ic">
                        <i class="fa fa-pinterest fa-lg white-text"> </i>
                    </a>
                </div>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->

    </div>
    <!--/Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright py-3 text-center">
        © 2018 Copyright:
        <a href="#"> ICUT.com.br </a>
    </div>
    <!--/Copyright-->

</footer>
<!--/Footer-->
                      
