.content-fluid{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    color: bisque;
    text-align: center;
    margin-top: 0px;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
    background-image: url('assets/images/register.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-bottom: 30px;
}

.row {
    margin-left: 10px;
}
.modal-body {
    color: black;
}
.collumn {
    align-content: center;
    align-items: center;
    padding-left: 30px;
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }


}

.options {
    display: inline;
    margin-top: 0%;
}





.form-group {
    text-align: left;
    padding-top: 2%;
   
}

.form-group-selection {
    text-align: left;
    padding-top: 1%;
   
}

.options {
    display: inline-block;
}

.container {
    width: 260px;
    height: auto;
    background-image: url('assets/images/loginbg.png');
    border-radius: 8px;
    padding-top: 25px;
    padding-bottom: 25px;  
    align-content: center;
    align-items: center;
    align-self: center;
}

.row h3 {
    color: orange;
    font-size: 15pt;
}

.preco {
    width: 260px;
    height: auto;
    background-image: url('assets/images/loginbg.png');
    border-radius: 8px;
    padding-top: 25px;
    padding-bottom: 25px;  
    margin-top: 150px;
    align-content: center;
    align-items: center;
    align-self: center;
}

.btn-warning {
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 8px;
}

.btn-secondary {
    padding: 5px;
    border-radius: 8px;
    width: 50%;
}

.btn {
    border-radius: 8px;
 }
 


.btn-primary {
    padding: 5px;
    border-radius: 8px;
    width: 50%;
}

.content-fluid h1 {
    font-size: 25pt;
    margin-top: 40px;
}

.content-fluid h2 {
    font-size: 12pt;
    margin-top: 40px;
}

.choice {
    width: auto;
    height: auto;
    margin-top: 10px;
    padding:10px;
    transition: transform .2s;
    opacity: 0.9;
}

.choice:hover {
    transform: scale(1.15);
    opacity: 1;
}

.custom {
    float: left;
    margin-left: 20px;
    text-align: left;
}
